    mov [0],r0 // Loading N in r0
    mov 0,r1 // Zero Fibonacci number
    mov 1,r2 // First Fibonacci number
    mov 0,r3 // Position in memory
    // Loop
    jrz 36,r0
    dec r0
    mov r1,[r3]
    inc r3
    mov r2,[20]
    add r1,r2
    mov [20],r1
    jmp 12